* {
    padding: 0px;
    margin: 0px;
}

:root {
    --main-bg-color: #F2F6D0;
    --background-color: #0B5351;
    --decorative-border: #00A9A5;
    --heading-text: white;
    --standard-text: black;
    --alt-bg-color: white;
}

body {
    background-color: var(--main-bg-color);
    padding: 0px;
}

h1 {
    background-color: var(--background-color);
    padding-top: 30px;
    padding-bottom: 30px;
    color: var(--heading-text);
    text-align: center;
    border-bottom: solid var(--decorative-border) 20px;
    margin-left: auto;
    margin-right: auto;
}

picture {
    margin: 0px;
}

.hero {
    border-bottom: 3px solid var(--background-color);
}

.hero image {
    width: 100%;
    height: auto;
    object-fit: cover;

}

h2 {
    text-align: center;
    padding: 20px;
    font-family: "kanit";
}

.data-container,
.weather-container {
    background-color: var(--alt-bg-color);
}

ul {
    list-style-type: none;
}

.columns,
.columns-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
}

.columns {
    border-bottom: solid lavender 1px;
    padding-bottom: 30px;
}

.data-type {
    text-align: right;
    font-weight: bold;
    padding: 5px;
}

.info {
    text-align: left;
    padding: 5px;
}

footer {
    background-color: var(--background-color);
    color: var(--heading-text);
    text-align: center;
    font-size: larger;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.foot-text,
.location {
    padding: 5px;
}

@media screen and (min-width: 750px) {
    .hero {
        position: relative;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .data-container {
        position: absolute;
        top: 20%;
        left: 2%;
    }

    .weather-container {
        position: absolute;
        bottom: 10%;
        right: 2%;
    }

    .weather-container h2::after {
        content: " 🌥";
    }

    svg {
        display: none;
    }

    h2 {
        background-color: var(--decorative-border);
        text-align: left;
        position: relative;
        right: 10px;
        top: 10px;
        padding: 10px;
        margin-right: 25px;
        margin-bottom: 25px;
        color: var(--heading-text)
    }
}