* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
}

header {
    margin-top: 0;
    grid-column: 1 / 5;
    background-color: steelblue;
    color: white
}

h1 {
    text-align: center;
    font-family: "kanit";
}

.name {
    color: yellow
}

nav {
    margin-bottom: 0;
}

.navigation {
    margin-top: 2rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, .75fr);
    background-color: #333;
    text-align: center;
    color: #eee
}

.navigation a {
    display: grid;
    background-color: #333;
    color: #eee;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    margin: 0;

}

.navigation a:hover {
    text-decoration: overline underline;
}

main {
    display: grid;
    grid-template-columns: auto 500px;
    background-color: lightgray;
    grid-column: 1 / 3;
    color: black;
    justify-content: center;
}

h2 {
    padding: 5px;
    margin: 0px;
    background-color: steelblue;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-family: "kanit";
}

.card-text {
    color: black;
    margin: 0 auto;
    white-space: normal;
    text-align: left;
}

.background-location {
    display: flex;
    flex-direction: row-reverse;
}

.background-location img {
    object-fit: cover
}

.location-info {
    margin: 15px;
}

.card {
    background-color: lightgray;
    margin: 1rem;
    border: 3px solid steelblue;
    border-radius: 10px;
}

.card-left {
    display: flex;
    margin: 10px 20px;
    line-height: 1.5;
    font-family: sans-serif;
}

.profile-picture {
    object-fit: cover;
}

.figcaption {
    font-style: italic;
}

h3 {
    text-align: center;
    border-bottom: solid black;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 10px;
    margin: 15px auto;
}

.links {
    display: block;
    padding: 50px;
    height: auto;
}

footer {
    background-color: #333;
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    grid-column: 1 / 4;
    color: #eee;
}

.foot-text {
    color: white;
}