/* --------General Declerations-------- */
:root {
    --main-bg-color: #e0e1dd;
    --heading-bg-color: #023e8a;
    --heading-tab-text: #ffffff;
    --decorative-border: #ffb703;
    --card-background: rgb(169, 189, 206);
    --alternate-bg: rgb(44, 44, 44);

}

header,
main,
footer {
    margin: 0 auto;
    padding-bottom: 2rem;
    border-radius: 1rem;
    background-color: var(--main-bg-color);
}

p {
    font-family: "abel";
}

.active {
    background-color: var(--heading-bg-color);
    border-top: solid var(--decorative-border) 2px;
    border-bottom: solid var(--decorative-border) 2px;
}

/* -----------------------Small Screens-------------------------- */
/* ----------Data Container---------- */
.columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
}

.data-container {
    background-color: var(--main-bg-color);
    border-radius: 1rem;
}

.data-type {
    text-align: right;
    font-weight: bold;
    padding: 5px;
}

.info {
    text-align: left;
    padding: 5px;
}

ul {
    list-style-type: none
}


/*-----------header------------ */
h1 {
    font-family: "kanit";
    font-size: 80px;
}

header {
    font-family: "kanit";
    background-color: var(--heading-bg-color);
    color: var(--heading-tab-text);
    padding-left: 1rem;
    border-bottom: solid #ffb703 3px;
    text-align: left;
    font-family: "kanit";
}

#menu {
    font-size: 8rem;
    font-weight: 700;
    text-decoration: none;
    margin: 10px;
    padding: 0px 0px;
    position: absolute;
    top: .50rem;
    right: 1rem;
    color: var(--heading-tab-text);
    background: none;
}

#menu::before {
    content: "≡";
}


nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--alternate-bg);
    color: var(--heading-tab-text);
    border-radius: 1rem;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 auto;
}

.navigation a {
    display: flex;
    color: var(--heading-tab-text);
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    font-size: larger;
}

.navigation li {
    display: none;
}

.navigation a:hover {
    background-color: var(--heading-tab-text);
    color: var(--heading-bg-color);
    border: solid var(--decorative-border) 2px;
    border-radius: 10rem;
    margin: 0;
}


.show li {
    display: grid;
}

#menu.show::before {
    content: "X";
}

h2,
h3 {
    font-family: "kanit";
    background-color: var(--heading-bg-color);
    color: var(--heading-tab-text);
    padding: 10px;
    border-radius: 1rem;
    border-bottom: solid #ffb703 3px;
    text-align: left;
    font-family: "kanit";
}

/* ----------Hero---------- */
.hero {
    margin: 0 auto;
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* ----------Footer---------- */
footer {
    font-family: "kanit";
    background-color: var(--heading-bg-color);
    color: var(--heading-tab-text);
    margin: 0rem;
    padding: 10px;
    border-radius: 1rem;
    border-top: solid #ffb703 3px;
    text-align: center;
    font-family: "kanit";
}

/* ----------Picture Container---------- */
.aircaft-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    place-items: center;
    padding: 1rem;
    margin: 0 auto;
}

section {
    background-color: var(--card-background);
    padding: 5px;
    border-radius: 1rem;
}

section img {
    border: var(--decorative-border) solid;
    border-radius: 1rem;
}

h4 {
    font-family: "kanit";
    background-color: var(--heading-bg-color);
    color: var(--heading-tab-text);
    padding: 10px;
    border-radius: 1rem;
    border-bottom: solid #ffb703 3px;
    text-align: center;
    font-family: "kanit";
}

/* -----------------------Medium Screens-------------------------- */
/* -----------------------Larger Screens---------------------------*/

@media (min-width: 1200px) {

    /* ----------Header---------- */
    h1 {
        font-family: "kanit";
        font-size: 60px;
    }

    #menu {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        background-color: var(--alternate-bg);
    }

    /*---------Navigatio Bar---------*/
    .navgiation {
        display: flex;
    }

    .navigation li {
        display: flex
    }

    .navigation ul {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        list-style-type: none;
        padding-right: 10px;
    }

    .navigation a {
        flex: 1 1 100%;
    }

    /* ----------Hero Imeage---------- */
    .hero {
        max-width: 1000px;
        position: relative;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    /* ----------Main------------------ */
    .columns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        margin: 0 .5rem;

    }

    .data-container {
        position: absolute;
        top: 35%;
        left: 2%;
    }

    h3 {
        background-color: var(--heading-bg-color);
        color: var(--heading-tab-text);
        border-radius: 1rem;
        border: solid #ffb703 3px;
        text-align: left;
        position: relative;
        right: 10px;
        top: 10px;
        padding: 10px;
        margin-right: 25px;
        margin-bottom: 25px;
    }
}