@media (min-width: 740px) {
    #menu {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navgiation {
        display: flex;
    }

    .navigation li {
        display: flex
    }

    .navigation ul {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        list-style-type: none;
        padding-right: 10px;
    }

    .navigation a {
        flex: 1 1 100%;
    }


}